@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);

body {
	font-family: lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

h1 {
	bottom: 0px;
	margin: 0px;
	padding-top: 130px;
}

#nav {
	padding-top: 20px;
}
#head {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	text-align: center;
	min-height: 320px;
}

#toTop {
	position: fixed;
	bottom: 40px;
	right: 10px;
}

footer {
	font-size: 12px;
	position: relative;
	bottom: 0px;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	min-height: 1em;
}

footer p {
	margin: 0px;
	padding-left: 20px
}
